*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    
}
header{
    width: 100%;
    height: 15vh;
}
nav{
    width: 100%;
    height: 15vh;
    background-color: rgba(47, 47, 243, 0.753);
}

header > nav > h1{
    color: aliceblue;
    text-align: center;
    padding-top: 5vh;
    font-size: 35px;
   
    
}
.container{
    width: 100%;
    height: 90vh;
    background-color: rgba(208, 233, 248, 0.801);
    display: flex;
}
.container > .div1{
    margin: 7vh 5vh;
}
.container > .div1 > .input1{
    width: 40vh;
    height: 5vh;
    margin-top: 2vh;
    border-radius: 7px;
    outline: none;
    padding-left: 5px;
}
.container > .div1 > .input2{
    width: 40vh;
    height: 5vh;
    background-color:rgba(47, 47, 243, 0.753) ;
    margin-top: 2vh;
    color: aliceblue;
    border-radius: 7px;
}
.container > .div1 > .input3{
    width: 40vh;
    height: 5vh;
    background-color:rgba(0, 0, 0, 0.555) ;
    margin-top: 2vh;
    color: aliceblue;
    border-radius: 7px;
}
.container > .div2{
    margin: 7vh 5vh;
}
.container > .div2 > .container1{
    width: 95vh;
    height: 21vh;
    background-color: rgba(47, 47, 243, 0.753);
    display: flex;
    border: 2px solid rgba(47, 47, 243, 0.753);
    border-radius: 5px;
}
.div2 > .container1 > .div2{
    width: 18vh;
    height: 10vh;
    padding-left: 45vh;
}
.div2 > .container1 > .div2 > .fa-cloud-sun-rain{
    font-size: 5vh;
    text-align: center;
    padding-top: 6vh;
}
.div2 > .container1 > .div2 > p{
    font-size: 1.5vh;
}
.div2 > .za{
    display: flex;
}
.div2 > .za >.container2,.container3{
    display: flex;
    /* justify-content: space-around; */
    margin-top: 3vh;
    color: aliceblue;
}
.div2 > .za >.container2  div{
    width: 21vh;
    height: 25vh;
    border:2px solid rgba(0, 0, 0, 0.555);
    background-color: rgba(0, 0, 0, 0.555);
    margin-left: 2.5vh;
}
.div2 > .za >.container3  div{
    width: 21vh;
    height: 25vh;
    border:2px solid rgba(0, 0, 0, 0.555);
    background-color: rgba(0, 0, 0, 0.555);
    margin-left: 2.5vh;
}
@media only screen and (max-width:455px){
    *{
        box-sizing: border-box;
    }
    header{
        width: 82vh;
        height: 20vh;
        box-sizing: border-box;
    }
    nav{
        width: 100%;
        height: 20vh;
        
    }
    .container{
        width: 82vh;
        height: 150vh;
        box-sizing: border-box;
        flex-direction: column;

    }
    .container > .div1{
        margin: 7vh auto;
    }
    .container > .div1 > .input1{
        width: 40vh;
        height: 5vh;
        margin-top: 2vh;
        border-radius: 7px;
        outline: none;
        padding-left: 5px;
    }
    .container > .div1 > p{
        width: 40vh;
    }
    .container > .div1 > .input2{
        width: 40vh;
        height: 5vh;
        background-color:rgba(47, 47, 243, 0.753) ;
        margin-top: 2vh;
        color: aliceblue;
        border-radius: 7px;
    }
    .container > .div1 > .input3{
        width: 40vh;
        height: 5vh;
        background-color:rgba(0, 0, 0, 0.555) ;
        margin-top: 2vh;
        color: aliceblue;
        border-radius: 7px;
    }
    .container > .div2{
        margin: 0%;
    }
    .container > .div2 > .container1{
        width: 82vh;
        height: 23vh;
        box-sizing: border-box;
        background-color: rgba(47, 47, 243, 0.753);
        border: 2px solid rgba(47, 47, 243, 0.753);
        border-radius: 5px;
    }
    .div2 > .container1 > .div2{
        width: 18vh;
        height: 10vh;
        padding-left: 20vh;
    }
    .div2 > .za >.container2  div{
        width: 21vh;
        height: 32vh;
        border:2px solid rgba(0, 0, 0, 0.555);
        background-color: rgba(0, 0, 0, 0.555);
        margin-left: 2.5vh;
    }
    .div2 > .za >.container3  div{
        width: 21vh;
        height: 32vh;
        border:2px solid rgba(0, 0, 0, 0.555);
        background-color: rgba(0, 0, 0, 0.555);
        margin-left: 2.5vh;
    }
 
    .div2 > .za{
        flex-direction: column;
        align-items: center;
    }
}
